@{
    ViewData["Title"] = "Evidence pojištění";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-4"
    <h1>Pro pokračování se přihlaste, případně zaregistrujte.</h1>
</div>
