@{
    ViewData["Title"] = "Jejda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-3 mt-4">
	<div class="row pb-2">
		<h2 class="text-primary">Jejda</h2>
	</div>
	<hr class="border-2 border-top border-primary">
	@*<div asp-validation-summary="All"></div>*@
	<div class="row pt-4">
		<div class="col-md-6 mb-3">
			<span>Něco se pokazilo. Vraťte se na svůj profil.</span>			
		</div>		
	</div>
</div>
