@model RolesModel

@{
    ViewData["Title"] = "Přidat roli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="CreateRole">
	<div class="container">   
		@*<div asp-validation-summary="All"></div>*@
		<div class="row pt-4">
			<div class="col-md-8 col-lg-6 mb-3">
				<label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" placeholder="Název role" />
                <span asp-validation-for="RoleName" class="text-danger"></span>  		
			</div>
		</div>
	</div>
	<div class="text-center text-sm-start px-3">
		<button type="submit" class="btn btn-primary" style="width:200px"><i class="bi bi-plus-circle"></i> &nbsp;Přidat</button>
		<a asp-action="IndexRole" asp-controller="Admin" class="btn btn-secondary btn-outline-primary" style="width:200px">
			Zpět na seznam
		</a>
	</div>
</form>
@section Scripts
{
	<!--Client side validation-->
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
