@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">     
    <div class="row pt-4">
        <div class="col-6 col-sm-4 text-decoration-underline">Název</div>
        <div class="col-6 col-sm-4 text-decoration-underline">Id</div>
    </div>
    @foreach(var obj in Model) 
        {   
            <div class="row pt-4 align-items-center">
               <div class="col-6 col-sm-4">@obj.Name</div>
               <div class="col-6 col-sm-4">@obj.Id</div> 
               <div class="col-12 col-sm-4">
                <div class="pt-2 pt-sm-0 d-flex justify-content-center justify-content-sm-end">
                    <a asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@obj.Id" 
                    class="btn btn-danger" style="width:175px"><i class="bi bi-trash"></i>&nbsp;Odstranit</a>                   
                </div>
            </div>
            </div>
        }
</div>
